html{
    background-color: #333;
}
h1 {
    color: #fff;
}
.box {
    padding: 20px;
    margin-bottom: 15px;
    color: #fff;
    box-sizing: border-box;
}
.box-1 {
    width: 33.3%;
    float: left;
    background-color: #e74c3ced;
}
.box-2 {
    width: 33.3%;
    float: left;
    background-color: #2980b9;
}
.box-3 {
    width: 33.3%;
    float: left;
    background-color: #27ae60;
}
.box-4 {
    background-color: #f39c12;
} 

/*
Aqui eu coloquei e usei o float para pegar minha div e subir a que estava em baixo, porém deixando a de cima na esquerda.
Também usei o box-sizing que usa o float ignorando o padding.
*/