html {
    background-color: #333;
}

h1 {
    text-align: center;
    color: #fff;
}

.box {
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin: 20px;
    padding:20px;
}

.box-2 {
    width: 300px;
    height: 300px;
    background-color: #fff;
    opacity: 0.6;
    margin: 20px;
}

#box {
    width: 150px;
    height: 150px;
    background-color: #999;
    padding:20px;
    box-sizing: border-box;
    margin: 30px;
    /*
    O border box considera a caixa inteira.
    */
}

#box-2 {
    width: 150px;
    height: 150px;
    background-color: #fff;
    padding: 20px;
    box-sizing: content-box;
    margin: 30px;
    /*
    Ele soma o conteúdo e o padding.
    */
}

#overflow-box{
    width: 150px;
    height: 150px;
    background-color: #043507;
    padding: 20px;
    color: #fff;
    /*overflow: auto;*/
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap; /*Não embrulha o conteúdo*/
}




/*
MAGIN: Ela é um espaço externo que empurra seu objeto. Quando duas margins se encontram, elas não se somam, apenas se misturam.

MAGIN-TOP: Aplica margin apenas no topo do objeto.
MARGIN-BOTTOM: Aplica margin apenas em baixo.
MARGIN-RIGHT: Aplica margin apenas na direita.
MARGIN-LEFT: Aplica margin apenas na esquerda.

Dá pra combinar entre si, cada um e também colocar todos na mesma linha: margin: 20px (cima) 42px (direita) 67px (baixo) 12px (esquerda).
margin: 20px 42px 67px 12px.
Se você colocar 2 valores, o primeiro é cima e em baixo e o segundo é as duas laterais.
margin: 12px 14px.
Se você colocar 3 valores, o primeiro é cima, o segundo os lados e o terceiro é para baixo.
margin: 30px 29px 1px
*/

/*
O padding obedece a mesma característica do Margin, ou seja, toda a questão de númeraão e sequência
*/